.container {
    width: 70%;
    height: fit-content;
    padding: 20px 20px;
    background-color: #fff;
}

.title {
    font-family: "Caveat", cursive;
    font-weight: 1000;
    font-size: 40px;
    padding-bottom: 0.25em;
}

.text {
    font-size: 30px;
    font-weight: 500;
    font-family: "Caveat", cursive;
}

.container {
    top: -10px;
}


@media screen and (max-width: 1300px) {
    .container {
        width: 100%;
    }

    .title {
        text-align: center;

    }

    .text {
        font-size: 25px;
    }
}