.wrapper {}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 600px;
    position: relative;
}

.photoContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    z-index: 2;
    
    /* maxHeight */
    width: 540px;
    /* max-width: 540px; */
    /* 540 594 */
    position: relative;
    align-self: center;
    box-shadow: 0px 0px 39px 20px rgba(255, 255, 255, 0.2)
}

.name {
    z-index: 4;
    position: absolute;
    bottom: 2%;
}

@media screen and (max-width: 1300px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .photo {
        width: 80%;
    }
}
