.container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(-20deg, 0deg);
    background-color: #fff;
}

.name {
    z-index: 1;
    font-size: 10vw;
    text-align: center;
    padding: 0.1em 0.4em;
    transform: skew(20deg, 0deg);
}


@media screen and (min-width: 1300px) {
    .name {
        font-size: 60px;
    }
}